@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../fonts/fonts.css);

:root {
    --primary-text-color: #033D5A;
    --secodary-text-color: #62BDFF;
    --text-light-color: #fff;
    --primary-border-color: #033D5A;
    --secondary-border-color: #033D5A80;
    --light-border-color: #fff;

    --h2: 110px;
    --h3: 46px;
    --h4: 32px;
    --h5: 24px;
    --p: 16px;

    --animation-duration: 180s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    ;
}

body {
    width: 100%;
    overflow-x: clip;
    color: var(--primary-text-color);
}

/* Global */

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
h5 {
    font-size: var(--h5);
}

p,
.p {
    font-size: var(--p);
    letter-spacing: .7px;
}

.light_text {
    color: var(--secodary-text-color) !important;
}


.btn {
    padding: 11px 32px;
    background: transparent;
    border: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.btn-primary {
    padding: 20px 32px;
    position: relative;
    background: linear-gradient(90deg, #339DFE, #284FD7);
    box-shadow: none;
    color: var(--text-light-color);
    font-weight: 700;
    position: relative;
    border-radius: 40px;
}

.btn-primary:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: linear-gradient(90deg, #284FD8 30%, #349DFE);
    border-radius: 40px;
}

.btn-primary img {
    z-index: 20;
}

.btn-primary span {
    z-index: 20;
    position: relative;
}

.btn-outline-light {
    padding: 11px 32px;
    background: transparent;
    border: 1.5px solid var(--light-border-color);
    box-shadow: none;
    color: var(--text-light-color);
    font-weight: 700;
}

.icon {
    width: 32px;
    height: 32px;
}

.animated-line {
    position: relative;
}

.animated-line::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #F6DE04;
    width: calc(100% - 40px);
    transform: rotate(3deg);
    height: 6px;
    border-radius: 20px;
    animation: line-1 1s ease;
    animation-delay: 1s;
}

.animated-line::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -20px;
    background: #F6DE04;
    transform: rotate(-4deg);
    height: 6px;
    border-radius: 20px;
    animation: line-2 1s ease;
    width: calc(100% + 40px);
}

@keyframes line-2 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% + 40px);
    }
}

@keyframes line-1 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 40px);
    }
}

/* Header */

header {
    z-index: 90;
    position: relative;
    padding: 15px 0;
}

header.bg-light {
    border-bottom: 1.5px solid #67B6FF;
    background: linear-gradient(180deg, #4CA7FF 0%, rgba(58, 159, 218, 0.50) 134.91%);
    backdrop-filter: blur(27px);
    position: fixed;
    top: 0;
}

/* banner */
.googleReviews {
    background-color: var(--text-light-color);
    padding: 10px 28px;
}

/* Services */
.services .card {
    border-radius: 32px 32px 0px 0px;
    background: linear-gradient(180deg, #338cca33 0%, #338cca00 100%);
    padding: 80px 100px 0 100px;
}

.services .card .card-image {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    border-radius: 20px;
    margin-bottom: 32px;
}

.services .card .card-image img {
    width: 100px;
    height: 100px;
}

.services .count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services .count::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 40%;
    border-right: 2px solid var(--secondary-border-color);
}

.services .count:last-child:before {
    content: none;
}

/* What we do */
.whatWeDo {
    background-color: var(--primary-text-color);
}

.whatWeDo .right p {
    width: calc(100% - 40px);
}

.whatWeDo .animated-line {
    z-index: 1;
}

.whatWeDo .animated-line::before {
    z-index: -1;
    bottom: 2px;
    right: -20px;
    left: auto;
    background: #F6DE04;
    transform: rotate(-2deg);
    height: 6px;
    border-radius: 20px;
    animation: line-3 1s ease;
    width: calc(70% + 40px);

}

.whatWeDo .animated-line::after {
    z-index: -1;
    bottom: 2px;
    left: 109px;
    background: #F6DE04;
    transform: rotate(4deg);
    height: 6px;
    border-radius: 20px;
    animation: line-4 1s ease;
    width: calc(40% + 40px);
}

@keyframes line-4 {
    0% {
        width: 0;
    }

    100% {
        width: calc(40% + 40px);
    }
}

@keyframes line-3 {
    0% {
        width: 0;
    }

    100% {
        width: calc(70% + 40px);
    }
}

/* marquee */

.marquee {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.marquee ul {
    display: flex;
    flex-direction: row;
    transition: .5s ease;
    gap: 10px;
    width: 100%;
}

.marquee ul li {
    text-wrap: nowrap;
    text-transform: capitalize;
    font-weight: bold;
}

.marquee ul.marquee-list1 {
    animation: menuList 40s linear infinite;
}

.marquee ul.marquee-list2 {
    animation: menuList2 40s linear infinite;
}

@keyframes menuList {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes menuList2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}