@import url(../fonts/fonts.css);

:root {
    --primary-text-color: #033D5A;
    --secodary-text-color: #62BDFF;
    --light-text-color: rgb(255, 255, 255);
    --primary-border-color: #033D5A;
    --secondary-border-color: #033D5A80;
    --light-border-color: rgb(255, 255, 255);

    --h2: 110px;
    --h3: 46px;
    --h4: 32px;
    --h5: 24px;
    --p: 16px;

    --animation-duration: 180s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: clip;
    color: var(--primary-text-color);
}

/* Global */

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
h5 {
    font-size: var(--h5);
}

p,
.p {
    font-size: var(--p);
    letter-spacing: .7px;
}

.container {
    padding: 0 20px;
}

.light_text {
    color: var(--secodary-text-color) !important;
}


.btn {
    padding: 11px 32px;
    background: transparent;
    border: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.animated-underline-dark,
.animated-underline-light {
    position: relative;
}

.animated-underline-dark:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    content: '';
    background-color: var(--primary-border-color);
    transition: 0.5s ease;
}

.animated-underline-light:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--light-border-color);
    transition: 0.5s ease;
}

.animated-underline-dark:hover:before,
.animated-underline-light:hover:before {
    width: 100%;
}

.btn-light {
    padding: 15px 32px !important;
    position: relative;
    background: var(--light-border-color);
    box-shadow: none;
    color: var(--primary-text-color);
    font-weight: 700;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid var(--primary-border-color);
    max-height: 90px;
}

.btn-light,
.btn-light * {
    transition: .3s ease;
}

.btn-light:hover img:not(.arrow-2) {
    transform: translateX(-80px);
}

.btn-light .arrow-2 {
    transform: translateX(80px);
    position: absolute;
}

.btn-light:hover .arrow-2 {
    transform: translateX(0px);
}

.btn-primary {
    padding: 15px 32px !important;
    position: relative;
    background: linear-gradient(90deg, #339DFE, #284FD7);
    box-shadow: none;
    color: var(--light-text-color);
    font-weight: 700;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.btn-primary,
.btn-primary * {
    transition: .3s ease;
}

.btn-primary:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: linear-gradient(90deg, #284FD8 30%, #349DFE);
    border-radius: 40px;
}

.btn-primary:hover span:not(.text2) {
    transform: translateY(-60px);
}

.btn-primary .text2 {
    position: absolute;
    right: 32px;
    transform: translateY(60px);
}

.btn-primary:hover .text2 {
    transform: translateY(0);
}

.btn-primary img {
    z-index: 20;
}

.btn-primary span {
    z-index: 20;
    position: relative;
    font-size: var(--p);
}

.btn-outline-light {
    padding: 11px 32px;
    background: transparent;
    border: 1.5px solid var(--light-border-color);
    box-shadow: none;
    color: var(--light-text-color);
    font-weight: 700;
    transition: 0.5s ease;
}

.btn-outline-light:hover {
    background: var(--light-border-color);
}

.btn-outline-light:hover * {
    filter: brightness(0) saturate(100%) invert(19%) sepia(26%) saturate(2753%) hue-rotate(168deg) brightness(92%) contrast(98%);
    color: var(--primary-text-color);
}

.icon {
    width: 32px;
    height: 32px;
}

.animated-line {
    position: relative;
}

.animated-line::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #F6DE04;
    width: calc(100% - 40px);
    transform: rotate(3deg) scale(0);
    height: 6px;
    border-radius: 20px;
    animation: line-1 .7s ease-in-out forwards;
    animation-delay: 1s;
}

.animated-line::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -20px;
    background: #F6DE04;
    transform: rotate(-4deg) scale(0);
    height: 6px;
    border-radius: 20px;
    animation: line-2 .7s ease-in-out forwards;
    width: calc(100% + 40px);
}

@keyframes line-1 {
    0% {
        transform: rotate(3deg) scale(0);
    }

    100% {
        transform: rotate(3deg) scale(1);
    }
}

@keyframes line-2 {
    0% {
        transform: rotate(-4deg) scale(0);
    }

    100% {
        transform: rotate(-4deg) scale(1);
    }
}


/* Header */

header {
    z-index: 90;
    position: relative;
    padding: 15px 0;
}

header.bg-light {
    border-bottom: 1.5px solid #67B6FF;
    background: linear-gradient(180deg, #4CA7FF 0%, rgba(58, 159, 218, 0.50) 134.91%);
    backdrop-filter: blur(27px);
    position: fixed;
    top: 0;
}

/* banner */
.googleReviews {
    background-color: var(--light-text-color);
    padding: 10px 28px;
}

/* aboutUs */
.aboutUs .card {
    border-radius: 32px 32px 0px 0px;
    background: linear-gradient(180deg, #338cca33 0%, #338cca00 100%);
    padding: 80px 100px 0 100px;
}

.aboutUs .card .card-image {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    border-radius: 20px;
    margin-bottom: 32px;
}

.aboutUs .card .card-image img {
    width: 100px;
    height: 100px;
}

.aboutUs .count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutUs .count::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 40%;
    border-right: 2px solid var(--secondary-border-color);
}

.aboutUs .count:last-child:before {
    content: none;
}

/* What we do */
.whatWeDo {
    background-color: var(--primary-text-color);
}

.whatWeDo .right p {
    width: calc(100% - 40px);
}

.whatWeDo .animated-line {
    z-index: 1;
}

.whatWeDo .animated-line::before {
    z-index: -1;
    bottom: 2px;
    right: -20px;
    left: auto;
    background: #F6DE04;
    transform: rotate(-2deg);
    height: 6px;
    border-radius: 20px;
    animation: line-3 .5s ease forwards;
    width: 0;

}

.whatWeDo .animated-line::after {
    z-index: -1;
    bottom: 2px;
    left: 109px;
    background: #F6DE04;
    transform: rotate(4deg);
    height: 6px;
    border-radius: 20px;
    animation: line-4 .5s ease forwards;
    width: 0;
}

@keyframes line-4 {
    0% {
        width: 0;
    }

    100% {
        width: calc(40% + 40px);
    }
}

@keyframes line-3 {
    0% {
        width: 0;
    }

    100% {
        width: calc(70% + 40px);
    }
}

/* marquee */

.marqueeContainer {
    overflow-x: hidden;
}

.marquee {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: translateY(-50%);
}

.marquee ul {
    display: flex;
    flex-direction: row;
    transition: .5s ease;
    gap: 10px;
    width: 100%;
}

.marquee ul li {
    text-wrap: nowrap;
    text-transform: capitalize;
    font-weight: bold;
}

.marquee ul.marquee-list1 {
    animation: menuList 40s linear infinite;
}

.marquee ul.marquee-list2 {
    animation: menuList2 40s linear infinite;
}

@keyframes menuList {
    0% {
        transform: translateX(-165%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes menuList2 {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.mriMarquee {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mriMarquee_image {
    max-width: 880px;
}

.mriMarquee::before {
    content: "";
    position: absolute;
    left: -210px;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)0%, #fff 100%);
    width: 250px;
    height: 100%;
    z-index: -1;
}

.mriMarquee::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0)0%, #fff 100%);
    width: 250px;
    height: 100%;
    z-index: -1;
}

/* carousel */

.swiperContainer {
    position: relative;
}

.swiperContainer .slide-main {
    background: var(--primary-text-color);
    color: var(--light-text-color);
    z-index: 100;
    height: 600px;
    border-radius: 16px;
}

.card-swiper {
    margin-top: -170px;
    padding-top: 170px !important;
}

.swiperContainer .facility-slide {
    text-align: center;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-radius: 16px;
    gap: 25px;
    padding: 40px 24px;
    height: 600px;
    /* max-width: 600px; */
}

.swiperContainer .swiper-slide .card-no {
    background-color: #fff;
    padding: 0px 25px;
    border-radius: 20px;
}

.swiperContainer .swiper-slide .carousel-image {
    max-height: 420px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    position: absolute;
    top: 80px;
    width: max-content;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 108px;
    padding: 22px 30px;
    border: 2px solid var(--primary-border-color);
    border-radius: 50px;
}

.swiperContainer .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 200px !important;
    left: auto;
    width: 108px;
    background-color: transparent;
    transition: .5s ease;
}

.swiperContainer .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    right: 320px !important;
    left: auto !important;
    transition: .5s ease;
}

.swiperContainer .swiper-button-next:hover,
.swiper-rtl .swiper-button-prev:hover,
.swiperContainer .swiper-button-prev:hover,
.swiper-rtl .swiper-button-next:hover {
    background-color: var(--primary-border-color);
}

.swiperContainer .swiper-button-next:hover img,
.swiper-rtl .swiper-button-prev:hover img,
.swiperContainer .swiper-button-prev:hover img,
.swiper-rtl .swiper-button-next:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.swiperContainer .swiper-button-next:after {
    content: '' !important;
    font-size: unset !important;
}

.swiperContainer .swiper-button-prev:after {
    font-size: unset !important;
    content: '' !important;
}

/* Testimonial */
.testimonial {
    background-color: var(--primary-border-color);
}

.testimonial .swiper-pagination {
    top: 0;
    right: 0;
    left: auto;
    width: max-content;
    height: max-content;
    border: 1px solid #fff;
    padding: 5px 25px;
    border-radius: 40px;
}

.testimonial .swiperContainer .swiper {
    padding-top: 150px;
}

.testimonial .swiperContainer .swiper-button-next {
    top: calc(50% + 80px);
    transform: translateY(-50%) rotate(180deg);
}

.testimonial .swiperContainer .swiper-button-prev {
    top: calc(50% + 80px);
    transform: translateY(-50%);
}

.testimonial .swiperContainer .swiper-button-next img,
.testimonial .swiper-rtl .swiper-button-prev img,
.testimonial .swiperContainer .swiper-button-prev img,
.testimonial .swiper-rtl .swiper-button-next img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    /* white */
}

.testimonial .swiperContainer .swiper-button-next:hover img,
.testimonial .swiper-rtl .swiper-button-prev:hover img,
.testimonial .swiperContainer .swiper-button-prev:hover img,
.testimonial .swiper-rtl .swiper-button-next:hover img {
    filter: brightness(0) saturate(100%) invert(19%) sepia(26%) saturate(2753%) hue-rotate(168deg) brightness(92%) contrast(98%);
    /* blue */
}

.testimonial .swiperContainer .swiper-button-next,
.testimonial .swiper-rtl .swiper-button-prev,
.testimonial .swiperContainer .swiper-button-prev,
.testimonial .swiper-rtl .swiper-button-next {
    border-color: var(--light-border-color);
    background-color: transparent;
}

.testimonial .swiperContainer .swiper-button-next:hover,
.testimonial .swiper-rtl .swiper-button-prev:hover,
.testimonial .swiperContainer .swiper-button-prev:hover,
.testimonial .swiper-rtl .swiper-button-next:hover {
    background-color: var(--light-border-color);
}

.testimonial .swiperContainer .swiper-button-next,
.testimonial .swiper-rtl .swiper-button-prev {
    right: 0 !important;
    left: auto;
    width: 108px;
    background-color: transparent;
    transition: .3s ease;
}

.testimonial .swiperContainer .swiper-button-prev,
.testimonial .swiper-rtl .swiper-button-next {
    right: auto !important;
    left: 0 !important;
    transition: .3s ease;
}

.testimonial .swiperContainer .swiper {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding-top: 80px;
}

.testimonial .swiperContainer .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 25px;
    padding: 30px 27px;
}

/* Our Services */

.service .card {
    padding: 80px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #BCECCF;
    border-radius: 32px;
}

.service .col-span-6:nth-child(2) .card {
    background-color: #EBEED7;
}

.service .fullService .card {
    background-color: #F0F6FF;
}

.service .card .img-container {
    position: relative;
    height: 380px;
    width: 100%;
}

.service .card .img-container img.card-img {
    position: absolute;
    bottom: -50px;
    left: 0;
    transition: bottom .5s ease;
}

.service .card:hover img.card-img {
    position: absolute;
    bottom: -30px;
    left: 0;
}

.service .call-icon {
    filter: brightness(0) saturate(100%) invert(19%) sepia(26%) saturate(2753%) hue-rotate(168deg) brightness(92%) contrast(98%);
}

.service .animated-line {
    z-index: 1;
}

.service .animated-line::before {
    z-index: -1;
    bottom: -6px;
    right: -20px;
    left: auto;
    background: #F6DE04;
    transform: rotate(-2deg);
    height: 6px;
    border-radius: 20px;
    animation: line-3 1s ease forwards;
    width: 0;

}

.service .animated-line::after {
    z-index: -1;
    bottom: -6px;
    left: 109px;
    background: #F6DE04;
    transform: rotate(4deg);
    height: 6px;
    border-radius: 20px;
    animation: line-4 1s ease forwards;
    width: 0;
}

@keyframes line-4 {
    0% {
        width: 0;
    }

    100% {
        width: calc(40% + 40px);
    }
}

@keyframes line-3 {
    0% {
        width: 0;
    }

    100% {
        width: calc(70% + 40px);
    }
}

/* Form Section */
.form-container {
    background-image: url(../images/form_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* footer */
.footer {
    background-color: var(--primary-border-color);
}

.footer .container {
    position: relative;
}

.backToTop {
    position: absolute;
    top: -120px;
    right: -20px;
}

.footer .footer-icon {
    width: 24px;
    height: 24px;
}

.footer * {
    color: var(--light-text-color);
}

.footer .top {
    padding-bottom: 30px;
    border-bottom: 1px solid #d6e4ebad;
    margin-bottom: 30px;
}

.footer .top .right a .footer-icon {
    transition: 0.5s ease;
}

.footer .top .right a:hover .footer-icon {
    transform: translateY(-5px);
}


@media screen and (max-width: 1440px) {
    :root {
        --h2: 92px;
        --h3: 38px;
        --h4: 28px;
        --h5: 20px;
        --p: 16px;
    }

    .aboutUs .card {
        padding: 40px 50px 0 50px;
    }
}

@media screen and (max-width: 1366px) {
    :root {
        --h2: 80px;
    }

    .bannerMri {
        max-width: 800px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --h2: 50px;
        --h3: 30px;
        --h4: 24px;
    }

    .whatWeDo .animated-line::before {
        bottom: -5px;
        right: 0px;
    }

    .whatWeDo .animated-line::after {
        bottom: -5px;
        left: 45px;
    }

    .mriMarquee_image {
        max-width: 550px;
    }

    .swiperContainer .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 40px !important;
    }

    .swiperContainer .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        right: calc(108px + 50px) !important;
    }

    #facilitySection .container:not(.swiperContainer .container) {
        padding-top: 40px;
    }

    .backToTop {
        right: 20px;
    }

    .testimonial .swiperContainer .swiper-button-next,
    .testimonial .swiperContainer .swiper-button-prev {
        top: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .bannerMri {
        max-width: 600px;
    }

    .aboutUs .card {
        padding: 30px;
    }

    .aboutUs .card .card-image {
        padding: 60px;
    }

    .service .card .img-container {
        height: 200px;
    }

    .fullService img:not(.icon) {
        max-width: 50%;
    }

    .service .card {
        padding: 40px 20px 0 20px;
    }

    .service .card .img-container img.card-img {
        bottom: -50px;
    }

    .card-swiper {
        margin-top: 0;
        padding-top: 0 !important;
    }

    .facility-swiper-div {
        margin-left: auto !important;
    }

    .card-swiper .swiper-button-prev {
        top: 50%;
        left: 0px !important;
        border-color: var(--light-border-color);
    }

    .testimonial .swiperContainer .swiper-button-next img,
    .testimonial .swiperContainer .swiper-button-prev img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    .card-swiper .swiper-button-next {
        top: 50%;
        right: 0px !important;
        border-color: var(--light-border-color);
    }

    @keyframes menuList {
        0% {
            transform: translateX(-113%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

@media screen and (max-width: 980px) {
    :root {
        --h2: 50px;
        --h3: 24px;
        --h4: 20px;
        --h5: 16px;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .btn-primary {
        padding: 10px 32px !important;
    }

    .nav-items .nav-list:nth-child(1) {
        display: none;
    }

    .aboutUs .card {
        flex: calc(50% - 0.75rem);
    }

    .fullService .right {
        padding-left: 20px;
    }

    .swiperContainer .swiper-slide .carousel-image {
        max-height: 250px;
    }
}

@media screen and (max-width: 820px) {
    :root {
        --h2: 50px;
        --h3: 24px;
        --h4: 20px;
        --h5: 18px;
        --p: 14px;
    }

    p,
    .p {
        letter-spacing: 0;
    }

    .mriMarquee_image {
        max-width: 450px;
    }

    .btn-primary {
        padding: 15px 32px !important;
    }

    .footer .footerLogo {
        width: 220px;
    }

    .testimonial .swiperContainer .swiper-button-next,
    .testimonial .swiperContainer .swiper-button-prev {
        top: calc(50% + 40px);
    }

    .swiperContainer .facility-slide {
        max-height: 400px;
        padding: 20px;
    }

    .service .animated-line::after {
        left: 50px;
    }
}

@media screen and (max-width: 640px) {
    .mriMarquee_image {
        max-width: 350px;
    }

    .facility-swiper-div {
        margin-left: 0 !important;
    }

    .aboutUs .card {
        flex: auto;
    }

    .animated-line::before,
    .animated-line::after {
        display: none;
    }

    .aboutUs .count::before {
        display: none;
    }

    .swiperContainer .slide-main {
        height: 400px;
    }

    .service .col-span-12:nth-child(2) .card {
        background-color: #EBEED7;
    }

    .service .card .img-container {
        height: 300px;
    }

    .fullService img:not(.icon) {
        max-width: fit-content;
    }

    .footer .top {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}

@media screen and (max-width: 480px) {
    .nav-brand img {
        width: 150px;
    }

    .service .card .img-container {
        height: 200px;
    }

    .swiperContainer {
        padding: 0;
    }

    .testimonial .swiperContainer .swiper-button-next,
    .testimonial .swiperContainer .swiper-button-prev {
        width: 80px;
        padding: 0;
    }

    .footer .bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}

@media screen and (max-width: 370px) {
    :root {
        --h2: 50px;
        --h3: 24px;
        --h4: 20px;
        --h5: 16px;
        --p: 14px;
    }

    .nav-brand img {
        width: 100px;
    }

    .btn {
        padding: 11px 22px;
    }

    h4.slide-content {
        font-size: 14px !important;
    }

    .star-icons img {
        width: 16px;
        height: 16px;
    }

    .testimonial .swiperContainer .swiper-slide {
        padding: 0;
    }

    .testimonial .swiperContainer .swiper-button-next,
    .testimonial .swiperContainer .swiper-button-prev {
        display: none;
    }

    .testimonial .swiper-pagination {
        padding: 5px 15px;
    }

    .service .card .img-container {
        height: 150px;
    }

    .footer .top {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .backToTop {
        top: -100px;
    }

    .bannerMri {
        max-width: 100%;
        bottom: -20% !important;
    }

    .banner .bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .mriMarquee_image {
        max-width: 200px;
    }

    .mriMarquee::after {
        width: 50px;
    }

    .mriMarquee::before {
        width: 50px;
        left: 0;
    }

    .marquee ul li h2 {
        font-size: 24px;
    }

    .btn-primary .text2 {
        position: absolute;
        right: 20px;
        transform: translateY(60px);
    }

    .btn-grp{
        display: none;
    }
}